* {
  box-sizing: border-box;
}

body {
  background-color: #f4f5f6;
  color: #000;
  font-size: 15px;
  line-height: 20px;
}

.nav-header {
  display: none;
}

.navigation-bar {
  display: block;
}

.navigation-logo svg {
  width: 128px;
  height: 19.39;
}

#nav-flex1 button {
  font-size: 12px;
}

#nav-flex2 button {
  padding: 4px 4px;
  font-size: 12px;
}

#nav-flex2 i {
  display: none;
}

span.country {
  display: none;
}

span.country i {
  display: none;
}

.container-fluid {
  width: 100%;
  background-color: #fff;
}

.image-a img {
  height: 251.1px;
}

.article1 {
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.container-fluid article,
.container-fluid section {
  padding: 15px 0;
}

.category-a1 {
  top: 445px;
}

.image .img-fluid {
  height: 272px;
}

.category {
  top: 1085px;
}

.container-fluid section {
  margin-bottom: 30px;
}

.float-right {
  width: 85%;
}

.clearfix .float-head {
  width: 70%;
}

.author-img {
  top: 3100px;
}

.author-img2 {
  top: 3350px;
}

#author-vs {
  width: 5%;
}

.image-culture img {
  height: 718px;
}

.category-culture {
  top: 711px;
}

.my-right-flow1,
.my-right-flow {
  width: 85%;
}

.image .mobile-img,
.just-image img,
.editor-cover-pics img,
.cover-image2 img {
  height: 479px;
}

.march-cover img {
  height: 758px;
}

.cover1-fill,
.cover1-fill1 {
  top: 451px;
}

.social1 a {
  padding-left: 8px;
}

.social2 a {
  padding-left: 0;
  padding-right: 10px;
}

.footer-line {
  display: none;
}

.footer-up {
  margin-top: 0;
}